<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>
  <section>
    <h1> <%= images.title %> </h1>
    <figure>
      <img src="../images/md/<%= images.fileName %> " alt="<%= images.title %> ">
    </figure>
    <figcaption>
      <p>Source: <a href="<%= images.attribution.url %>"><%=images.attribution.source %></a> </p>
      <p>Author: <%=images.attribution.credit %> </p>
    </figcaption>
    <a class="button" href="../images">Go Back</a>
  </section>
  <%- include('../partials/footer')  %>
</body>